{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">

        <div class="col-md-8">
          {%for post in posts%}
          <li style="height:300px;"><h4>Post {{post.id}}</h4>
            <p>{{post.name}}</p>
            Posted on
            <p>{{post.posted}}</p>
            <p>By User {{post.user_id}}</p>
          </li>
          {%endfor%}
          {% if current_user.is_authenticated %}
          <h3>Comments</h3>
          {%for comment in comments%}
            <p>{{comment.name}}
            {{ wtf.quick_form(del_form) }}
          {%endfor%}
          {%endif%}
        </div>

        <div class="col-md-4">
          <h3>Comment</h3>
           {{ wtf.quick_form(comment_form) }}
           {{simplemde.load}}
       </div>

    </div>

    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-4">
        </div>

        <div class="col-sm-8">
          {{format_comment|safe}}
        </div>
      </div>
    </div>

{% endblock %}
